<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fanqie.dc.domain.InnActive">
   <resultMap id="mapId" type="com.fanqie.core.domain.InnActive">
        <result column="id" property="id"/>
        <result column="innId" property="inn_id"/>
        <result column="innName" property="inn_name"/>
        <result column="status" property="status"/>
        <result column="order_num" property="orderNum"/>
        <result column="check_in_num" property="checkInNum"/>
        <result column="check_out_num" property="checkOutMum"/>
        <result column="msg_num" property="msgNum"/>
        <result column="operate_num" property="operateNum"/>
        <result column="create_date" property="createDate"/>
   </resultMap>

    <resultMap id="innActiveId" type="com.fanqie.core.dto.InnActiveDto">
        <result column="innId" property="inn_id"/>
        <result column="inn_name" property="innName"/>
        <result column="order_nums" property="orderNumList"/>
        <result column="check_in_nums" property="checkInNumList"/>
        <result column="check_out_nums" property="checkOutNumList"/>
        <result column="operate_nums" property="operateNumList"/>
        <result column="create_dates" property="createDates"/>
    </resultMap>

    <insert id="saveInnActive" parameterType="java.util.Map">
        insert into inn_active(id,inn_id,inn_name,mobile,create_date,order_num,check_in_num,check_out_num,msg_num,operate_num)
        values
        <if test="list.size() > 0">
            <foreach collection="list" item="v" separator=","  >
                ( '${v.uuid}','${v.innId}','${v.innName}','${v.mobile}',#{now},#{v.orderNum},#{v.checkInNum},#{v.checkOutNum},#{v.msgNum},#{v.operateNum})
            </foreach>
        </if>
    </insert>

    <select id="findDcInnActive" parameterType="com.fanqie.core.dto.ParamDto" resultMap="innActiveId" >
        SELECT 	oo.inn_id,
        oo.inn_name,
        string_agg ( CAST (oo.create_date AS VARCHAR), ',' ) AS create_dates,
        string_agg ( CAST (oo.order_num AS VARCHAR), ',' ) AS order_nums,
        string_agg ( CAST (oo.check_in_num AS VARCHAR), ',' ) AS check_in_nums,
        string_agg ( CAST (oo.check_out_num AS VARCHAR), ',' ) AS check_out_nums,
        string_agg ( CAST (oo.operate_num AS VARCHAR), ','  ) AS operate_nums
        from (
          SELECT inn_id, inn_name,create_date,order_num,check_in_num,check_out_num,operate_num from inn_active
          WHERE create_date BETWEEN '${startDate}' AND '${endDate}'
          <if test="innIds != null">
            and inn_id in
            <foreach collection="innIds" index="index" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
          </if>
          <if test="innId != null">
            and inn_id = #{innId}
          </if>
          ORDER BY inn_id, create_date ASC
        ) oo  GROUP BY oo.inn_id, oo.inn_name ;
    </select>

    <select id="findDcInnActiveCount" resultType="java.lang.Integer" parameterType="com.fanqie.core.dto.ParamDto" >
        SELECT count(oo.inn_id)  from (
        SELECT inn_id
        from inn_active
        where create_date BETWEEN '${startDate}' AND '${endDate}'

        <if test="innIds != null">
            and inn_id in
            <foreach collection="innIds" index="index" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="innId != null">
            and inn_id = #{innId}
        </if>
        GROUP BY inn_id,inn_name ORDER BY inn_id
        ) oo
    </select>


</mapper>