<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fanqie.dc.domain.InnActive">
   <resultMap id="mapId" type="com.fanqie.dc.domain.InnActive">
        <result column="id" property="id"/>
        <result column="innId" property="inn_id"/>
        <result column="innName" property="inn_name"/>
        <result column="status" property="status"/>
        <result column="order_num" property="orderNum"/>
        <result column="check_in_num" property="checkInNum"/>
        <result column="check_out_num" property="checkOutMum"/>
        <result column="msg_num" property="msgNum"/>
        <result column="operate_num" property="operateNum"/>
        <result column="create_date" property="createDate"/>
   </resultMap>

    <insert id="saveInnActive" parameterType="java.util.Map">
        insert into inn_active(id,inn_id,inn_name,mobile,create_date,order_num,check_in_num,check_out_num,msg_num,operate_num)
        values
        <if test="list.size() > 0">
            <foreach collection="list" item="v" separator=","  >
                ( '${v.id}','${v.innId}','${v.innName}','${v.mobile}',#{now},#{v.orderNum},#{v.checkInNum},#{v.checkOutNum},#{v.msgNum},#{v.operateNum})
            </foreach>
        </if>
    </insert>

    <select id="findActiveInn" parameterType="com.fanqie.dc.dto.ParamDto" >
        SELECT inn_id,string_agg(CAST(create_date as VARCHAR),',') as create_date,
        string_agg(CAST(order_num as VARCHAR),',') as order_nums,
        string_agg(CAST(check_in_num as VARCHAR),',') as check_in_nums,
        string_agg(CAST(check_out_num as VARCHAR),',') as check_out_nums,
        string_agg(CAST(operate_num as VARCHAR),',') as operate_nums
        from inn_active
        where create_date BETWEEN '2015-03-31' AND '2015-05-19 23:59:59'
        and inn_id in(25822,25743,25742,25803,19220)
        <if test="innIds != null">
            and inn_id in
            <foreach collection="innIds" index="index" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>

        GROUP BY inn_id ORDER BY inn_id
    </select>


</mapper>