<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration     
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"     
    "http://mybatis.org/dtd/mybatis-3-config.dtd">  
<configuration>
	<properties>
		<property name="dialect" value="POSTGRESQL"/>
	</properties>
	<plugins>
		<plugin interceptor="com.fanqie.dc.support.interceptor.PaginationInterceptor"/>
	</plugins>
	<mappers>
		<mapper resource="pms/mapper/InnPmsActiveMapper.xml"></mapper>
		<mapper resource="pms/mapper/OperateTrendPmsMapper.xml"></mapper>
		<mapper resource="pms/mapper/InnCustomerPmsMapper.xml"></mapper>
		<mapper resource="pms/mapper/OrderSourcePmsMapper.xml"></mapper>
	</mappers>
</configuration>