<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fanqie.dc.dao.IOrderSourcePmsDao">
    <resultMap id="mapId" type="com.fanqie.core.domain.OrderSource">
        <result column="id" property="id"/>
        <result column="inn_id" property="innId"/>
        <result column="live_num" property="liveNum"/>
        <result column="from_name" property="fromName"/>
        <result column="from_id" property="fromId"/>
        <result column="income" property="income"/>
        <result column="create_date" property="createdDate"/>
        <result column="order_num" property="orderNum"/>
    </resultMap>

    <select id="findOrderSource" parameterType="java.util.Map" resultMap="mapId">
        SELECT t.inn_id,cf.name as from_name , m.customer_from_id as from_id,COUNT(DISTINCT m.id) as order_num
        ,SUM(t.days) as live_num,SUM(m.commission) as commission
        ,SUM(t.room_price) as income, m.check_out_at as create_date
        FROM (
            SELECT o.inn_id, EXTRACT(DAY FROM(o.check_out_at - o.check_in_at)) as days
            ,o.main_id,o.room_id,o.room_price
            FROM tomato_inn_sub_order o
            LEFT JOIN tomato_inn  tin ON tin.id = o.inn_id
        ) t
        INNER JOIN tomato_inn_main_order m ON m.id = t.main_id
        INNER JOIN tomato_inn_room r ON r.id = t.room_id
        LEFT  JOIN tomato_inn_customer_from cf ON cf.id = m.customer_from_id
        WHERE 1=1 AND m.order_status >1 AND  m.check_out_at  BETWEEN '${from}' AND '${to}'
        GROUP BY m.customer_from_id,t.inn_id,cf.name, m.check_out_at
    </select>

</mapper>