<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration     
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"     
    "http://mybatis.org/dtd/mybatis-3-config.dtd">  
<configuration>
	<properties>
		<property name="dialect" value="POSTGRESQL"/>
	</properties>
	<!--<plugins>
		<plugin interceptor="com.fanqie.dc.support.interceptor.PaginationInterceptor"/>
	</plugins>-->
	<mappers>
		<mapper resource="dc/mapper/InnDcActiveMapper.xml"></mapper>
		<mapper resource="dc/mapper/OperateTrendDcMapper.xml"></mapper>
		<mapper resource="dc/mapper/InnCustomerDcMapper.xml"></mapper>
		<mapper resource="dc/mapper/OrderSourceDcMapper.xml"></mapper>
	</mappers>
</configuration>