<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fanqie.dc.domain.InnActive">
   <resultMap id="mapId" type="com.fanqie.dc.domain.InnActive">
        <result column="id" property="id"/>
        <result column="innId" property="inn_id"/>
        <result column="innName" property="inn_name"/>
        <result column="status" property="status"/>
        <result column="order_num" property="orderNum"/>
        <result column="check_in_num" property="checkInNum"/>
        <result column="check_out_num" property="checkOutMum"/>
        <result column="msg_num" property="msgNum"/>
        <result column="operate_num" property="operateNum"/>
        <result column="create_date" property="createDate"/>
   </resultMap>

    <select id="findDayInnActive" parameterType="java.util.Map">
        SELECT
        SUM (T .orders) AS orderNum,
        SUM (T .checkIns) AS checkInNum,
        SUM (T .checkOuts) AS checkOutNum,
        SUM (T .msgNum) AS msgNum,
        SUM (T .opNum) AS operateNum,
        inn_id
        FROM
        (
        SELECT
        COUNT (DISTINCT M . ID) AS orders,
        0 AS checkIns,
        0 AS checkOuts,
        0 AS msgNum,
        0 AS opNum,
        r.inn_id AS inn_id
        FROM
        tomato_inn_room_main_order M
        INNER JOIN tomato_inn_room_order o ON M . ID = o.main_id
        INNER JOIN tomato_inn_room r ON r. ID = o.room_id
        WHERE
        M .ordered_at  BETWEEN '2015-05-05 00:00:00'  AND  '2015-05-05 23:59:59'
        GROUP BY
        inn_id
        UNION ALL
        SELECT
        0 AS orders,
        COUNT (DISTINCT M . ID) AS checkIns,
        0 AS checkOuts,
        0 AS msgNum,
        0 AS opNum,
        r.inn_id AS inn_id
        FROM
        tomato_inn_room_main_check_in M
        INNER JOIN tomato_inn_room_check_in o ON M . ID = o.main_id
        INNER JOIN tomato_inn_room r ON r. ID = o.room_id
        WHERE
        M .created_at BETWEEN '2015-05-05 00:00:00' AND '2015-05-05 23:59:59'
        GROUP BY
        inn_id
        UNION ALL
        SELECT
        0 AS orders,
        0 AS checkIns,
        COUNT (DISTINCT M . ID) AS checkOuts,
        0 AS msgNum,
        0 AS opNum,
        r.inn_id AS inn_id
        FROM
        tomato_inn_room_main_check_out M
        INNER JOIN tomato_inn_room_check_out o ON M . ID = o.main_id
        INNER JOIN tomato_inn_room r ON r. ID = o.room_id
        WHERE
        M .created_at BETWEEN '2015-05-05 00:00:00' AND  '2015-05-05 23:59:59'
        GROUP BY
        inn_id
        UNION ALL
        SELECT
        0 AS orders,
        0 AS checkIns,
        COUNT (DISTINCT M . ID) AS checkOuts,
        0 AS msgNum,
        0 AS opNum,
        r.inn_id AS inn_id
        FROM
        tomato_inn_room_main_check_out M
        INNER JOIN tomato_inn_room_check_out o ON M . ID = o.main_id
        INNER JOIN tomato_inn_room r ON r. ID = o.room_id
        WHERE
        M .created_at BETWEEN '2015-05-05 00:00:00' AND M .created_at  '2015-05-05 23:59:59'
        GROUP BY
        inn_id
        UNION ALL
        SELECT
        0 AS orders,
        0 AS checkIns,
        0 AS checkOuts,
        SUM (l.send_num) AS msgNum,
        0 AS opNum,
        l.inn_id AS inn_id
        FROM
        tomato_msg_log l
        WHERE
        l.send_time BETWEEN '2015-05-05 00:00:00'  AND  '2015-05-05 23:59:59'
        GROUP BY
        inn_id
        UNION ALL
        SELECT
        0 AS orders,
        0 AS checkIns,
        0 AS checkOuts,
        0 AS msgNum,
        COUNT (l. ID) AS opNum,
        l.inn_id AS inn_id
        FROM
        tomato_inn_log l
        WHERE
        l.operate_time BETWEEN '2015-05-05 00:00:00' AND  '2015-05-05 23:59:59'
        GROUP BY
        inn_id
        ) T
        GROUP BY inn_id;
    </select>

    <insert id="saveInnActive" parameterType="java.util.Map">
        insert into inn_active(id,inn_id,inn_name,mobile,create_date,order_num,check_in_num,check_out_num,msg_num,operate_num)
        values
        <if test="list.size() > 0">
            <foreach collection="list" item="v" separator=","  >
                ( '${v.uuid}','${v.innId}','${v.mobile}','${v.createDate}',#{v.orderNum},#{v.checkInNum},#{v.checkOutNum},#{v.msgNum},#{v.operateNum})
            </foreach>
        </if>
    </insert>


</mapper>